body {
    background-color: lightblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.add-doggo {
    color: black;
    background-color: lightcoral;
    width: 100px;
    height: 60px;
    font-style: italic;
    font-weight: bold;
}